@font-face{
	font-family: 'Comfortaa-Bold';
	src: url('../fonts/Comfortaa-Bold.ttf');
}

@font-face{
	font-family: 'SourceSansPro-Regular';
	src: url('../fonts/SourceSansPro-Regular.otf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: SourceSansPro-Regular, sans-serif;
	min-width: 370px;
}

.center-helper{
	overflow: hidden;
}

/*region Header*/

header{
	position: relative;
	height: 473px;
	background-color: #DAEEF2;
}

header .kiteImage{
	position: absolute;
	left: 145px;
	right: auto;
	top: 65px;
	bottom: 0;
	height: 90%;
	background-color: #DAEEF2;
}

header .center-helper{
	overflow: hidden;
}

header nav{
	display: block;
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}

header nav > a{
	position: relative;
	display: inline-block;
	height: 44px;
	line-height: 44px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #007991;
	text-decoration: none;
	text-transform: uppercase;
	float: right;
	opacity: 0.9;
	transition-duration: 0.5s;
}

header nav > a:hover {
	opacity: 0.4;
}

#getInTouchLink {
	margin-right: 80px;
}

header .headerTextWrapper{
	position: absolute;
	display: inline-block;
}

div .full-center{
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%)
}

header h1,
header p{
	display: block;
}

header h1{
	font-size: 80px;
	color: #007991;
	margin: -20px 0 7px 0;
	font-family: Comfortaa-Bold;
	margin-top: 80px;
}

header p{
	font-size: 16px;
	color: #007991;
	margin-top: 3px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

header p > b{
	color: #20b7c1;
	font-weight: 400;
}


header > .center-helper > .headerTextWrapper > a {
	display: block;
	height: 60px;
	width: 200px;
	line-height: 60px;
	text-align: center;
	border-radius: 10px;
	background-color: #007991;
	border: 1px solid #007991;
	color: #fff;
	text-decoration: none;
	margin: 0 auto;
	font-size: 17px;
	letter-spacing: 3px;
	outline: none!important;
	cursor: pointer;
	margin-top: 70px;
}

header > .center-helper > .headerTextWrapper > a:focus{
	border-color: #90caf9;
}

header .cloudImage {
	position: absolute;
	display: inline-block;
	top: 263px;
	right: 100px;
	bottom: 0;
	height: 30%;
}

/*end region Header*/

/*region About*/

#aboutSection {
	background-color: #fcffff;
	padding: 128px 0 128px 0;
	height: 600px;
	overflow: hidden;
}

#aboutSection > .center-helper > .stringImage {
	position: absolute;
	display: inline-block;
	left: 20px;
	height: 100%;
}

#aboutSection > .center-helper > .cloud2Image {
	position: absolute;
	display: inline-block;
	top: 120px;
	right: 12px;
	height: 20%;
}

#aboutSection > .center-helper > .cloud3Image {
	position: absolute;
	display: inline-block;
	top: 460px;
	right: 240px;
	bottom: 0;
	height: 25%;
}

#aboutSection > .center-helper > h1,
#aboutSection > .center-helper > h2{
	display: block;
	width: 100%;
	text-align: center;
}

#aboutSection > .center-helper > h1{
	color: rgba( 0, 0, 0, 0.6);
	font-size: 46px;
	margin-bottom: 20px;
}

#aboutSection > .center-helper > h2{
	color: #6F6F6F;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 3px;
	margin-bottom: 48px;
}

#aboutSection > .center-helper > p {
	text-align: center;
	color: #919191;
	line-height: 28px;
	font-size: 16px;
	margin-bottom: 100px;
}

/*end region About*/

/*region Contact*/

#contactSection {
	background-color: #DAEEF2;
	padding: 128px 0 128px 0;
	height: 750px;
}

.zIndexFix {
	position: absolute;
	z-index: 1000;
	width: 100%;
	max-width: 1000px
}

#contactSection > .zIndexFix > h1{
	color: #007991;
	font-size: 46px;
	text-align: center;
}

#contactSection > .zIndexFix > p {
	color: #007991;
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;

}

#contactSection > .cloud4Image {
	position: absolute;
	display: inline-block;
	top: 110px;
	right: 70px;
	bottom: 0;
	height: 15%;
	z-index: 800;
}

#contactSection > .cloud5Image {
	position: absolute;
	display: inline-block;
	top: 500px;
	right: 160px;
	bottom: 0;
	height: 10%;
	z-index: 800;
}

#contactUsForm {
	position: relative;
	max-width: 700px;
	width: 90%;
	margin-top: 35px;
}

#contactUsForm >  input[type="text"],
#contactUsForm > textarea {
	border: 1px solid #D5D5D4;
	border-radius: 5px;
	outline: none!important;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
}

#contactUsForm > input[type="text"] {
	height: 40px;
    width: 49%;
    padding: 0 10px 0 10px;
	background-color: rgba(255,255,255,0.7);
}

#contactUsForm >  textarea{
	margin-top: 5px;
	width: 100%;
	min-height: 170px;
	padding: 14px 10px 14px 10px;
	background-color: rgba(255,255,255,0.7);
}

#contactUsForm > textarea:focus,
#contactUsForm > input[type="text"]:focus{
	border-color: #90caf9;
}

#submitEmailButton  {
	height: 40px;
    border-radius: 5px;
    border: 1px solid #007991;
    cursor: pointer;
    outline: none;
    background-color: #007991;
    color: #fff;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
    margin-top: 10px;
	width:100%;
}

#submitEmailButton:focus  {
border-color: #90caf9;
}

/*End region Contact*/

/*region Footer*/

#footerSection {
	padding: 128px 0 128px 0;
}

footer{
	background: #333333;
	padding: 128px 0 128px 0;
}

footer > h1{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 42px;
    color: rgba(255,255,255,0.9);
	font-weight: 600;
	margin-bottom: 18px;
}

footer > p{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 17px;
	letter-spacing: 2px;
	color: #6F6F6F;
	margin-bottom: 35px;
}

footer > .socialWrapper{
	display: flex;
	width: 140px;
	margin: 0 auto;
	margin-bottom: 35px;
}

footer > .socialWrapper > a{
	display: inline-block;
	color: rgba( 255, 255, 255, 0.6);
	font-size: 36px;
	margin: 0 auto;
}

footer > .socialWrapper > a:hover{
	color: rgba( 255, 255, 255, 0.9);
	transition-duration: 0.6s;
}

footer  > h4{
	font-size: 14px;
	color: #6F6F6F;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
}

/*End region Footer*/


















